<!-- wp:template-part {"slug":"header","tagName":"header","theme":"wf2gutenberg"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var(--wp--preset--spacing--80)","bottom":"var(--wp--preset--spacing--100)"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">

  <!-- wp:post-title {"level":1,"style":{"typography":{"fontWeight":"800","letterSpacing":"-0.025em"},"spacing":{"margin":{"bottom":"var(--wp--preset--spacing--70)"}}},"fontSize":"5xl"} /-->

  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"wf2gutenberg"} /-->
